@import 'variables';
@import 'reset';

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

nav {
	.logo {
		height: 32px;
		float: left;
	}
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

main{
	h1 {
		text-align: center;
	}
	
	.content {
		padding: $standart-padding;
		text-align: justify;
	}
}

footer{
	text-align: center;
	
	.logo {
		max-width: 64px;
		vertical-align: middle;
	}
	
	small {
		color: $secondary-text-color;
	}
}